<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BPEL_CrearItemMdmBinding" />
        <binding name="SoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.19.12.121:8011/CAP_DesarrollarPdtosServcs/SIntCrearItemMdm/SIntCrearItemMdmWS"
        binding="basicHttpBinding" bindingConfiguration="BPEL_CrearItemMdmBinding"
        contract="SIntCrearItemMdmWS.BPEL_CrearItemMdm" name="BPEL_CrearItemMdmBindingQSPort" />
      <endpoint address="http://cmxppgmdmdev.grupocomex.com.mx:7001/cmx/services/SifService"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding"
        contract="SIntCrearItemMdmWS.Soap" name="Soap" />
    </client>
  </system.serviceModel>
</configuration>